CairoSVG==1.0.15
Flask==0.10.1
Jinja2==2.8
Landscape-Client==14.12
MarkupSafe==0.23
Naked==0.1.31
PAM==0.4.2
PyYAML==3.11
Pyphen==0.9.1
Twisted-Core==13.2.0
WeasyPrint==0.23
Werkzeug==0.10.4
apt-xapian-index==0.45
argparse==1.2.1
cairocffi==0.7.1
cffi==1.1.2
chardet==2.0.1
colorama==0.2.5
configobj==4.7.2
cssselect==0.9.1
html5lib==0.999
itsdangerous==0.24
lxml==3.3.3
pyOpenSSL==0.13
pycparser==2.14
pyserial==2.6
python-apt==0.9.3.5ubuntu1
python-debian==0.1.21-nmu2ubuntu2
requests==2.2.1
six==1.5.2
ssh-import-id==3.21
tinycss==0.3
urllib3==1.7.1
virtualenv==1.11.4
wsgiref==0.1.2
zope.interface==4.0.5
