{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block title -%}
Town Profile{% if config["town"] -%} - {{ config["town"] }}{% endif -%}
{% endblock title -%}

{% block body %}
<div class="title_header">
    <h1 id="town_header">
        {% if config["town"] -%}{{ config["town"] }}, {% endif -%}
        Connecticut
    </h1>
    <h2>CERC Town Profile 2014</h2>
    {% if info["address"] -%}
        <ul class="header_list">
            {% for item in info["address"] -%}
            <li>{{ item }}</li>
            {% endfor -%}
        </ul>
    {% endif -%}
    {% if info["belongs_to"] -%}
        <ul class="header_list">
            <li><i>Belongs To</i></li>
            {% for item in info["belongs_to"] -%}
            <li>{{ item }}</li>
            {% endfor -%}
        </ul>
    {% endif -%}
    {% if objects["header_map"] %}
    <div id="small_map">
            {{ objects["header_map"]["output"] | safe }}
            <p>Incorporated in {{ info["incorporated"] }}</p>
    </div>
    {% endif %}
</div>
<div class="container first-container">
    <h3 class="section_header">Demographics</h3>
    <div id="population" class="vis_container left">
        {% if objects["population"] -%}
        <h4>Population</h4>
        {{ objects["population"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="race" class="vis_container right">
        {% if objects["race"] -%}
        <h4>Race/Ethnicity</h4>
        {{ objects["race"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="demog_facts" class="vis_container left">
        {% if objects["demog_facts"] -%}
        {{ objects["demog_facts"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="poverty" class="vis_container right">
        {% if objects["poverty"] -%}
        {{ objects["poverty"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="educational_attainment" class="vis_container right">
        {% if objects["educational_attainment"] -%}
        <h4>Educational Attainment</h4>
        {{ objects["educational_attainment"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="age" class="vis_container span">
        {% if objects["age"] -%}
        <h4>Age Distribution</h4>
        {{ objects["age"]["output"] | safe }}
        {% endif -%}
    </div>
    <div class="anchor"></div>
</div>
<div class="container">
    <h3 class="section_header">Economics</h3>
    <div id="business" class="vis_container left">
        {% if objects["business"] -%}
        <h4>Business Profile (2013)</h4>
        {{ objects["business"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="grand_list" class="vis_container right">
        {% if objects["grand_list"] -%}
        <h4>Top Five Grand List (2013)</h4>
        {{ objects["grand_list"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="employers" class="vis_container right">
        {% if objects["employers"] -%}
        <h4>Major Employers (2014)</h4>
        <ul class="float_list">
            {% for row in objects["employers"]["data"]["rows"] if row != "" -%}
            <li>{{ " ".join(row) }}</li>
            {% endfor -%}
        </ul>
        {% endif -%}
    </div>
    <div class="anchor"></div>
</div>
<div class="container">
    <h3 class="section_header">Education</h3>
    <div id="enrollment" class="vis_container left">
        {% if objects["enrollment"] -%}
        <h4>2010-2011 School Year</h4>
        {{ objects["enrollment"]["output"] | safe }}
        {% endif -%}
        <p>Most public school studnets in {{ config["town"] }} attend {{ info["enrollment_info"]["district"] }}, which has {{ info["enrollment_info"]["enrollment"] }} students.</p>
    </div>
    <div id="cmt" class="vis_container right">
        {% if objects["cmt"] -%}
        <h4>Connecticut Mastery Test Percent Above Goal</h4>
        {{ objects["cmt"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="computers" class="vis_container left">
        {% if objects["computers"] -%}
        <h4>Students Per Computer</h4>
        {{ objects["computers"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="class_size" class="vis_container right quarter">
        {% if objects["class_size"] -%}
        <h4>Average Class Size</h4>
        {{ objects["class_size"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="sat" class="vis_container right quarter">
        {% if objects["sat"] -%}
        <h4>Average SAT Score</h4>
        {{ objects["sat"]["output"] | safe }}
        {% endif -%}
    </div>
    <div class="anchor">For more education data see: <a href="http://sdeportal.ct.gove/Cedar/WEB/ResearchandReports/SSPReports.aspx">http://sdeportal.ct.gove/Cedar/WEB/ResearchandReports/SSPReports.aspx</a></div>
</div>
<div class="title_header">
    <h1 id="town_header">
        {% if config["town"] -%}{{ config["town"] }}, {% endif -%}
        Connecticut
    </h1>
    <h2>CERC town Profile 2014</h2>
    <div id="logo">
        <img src="{{ url_for("static", filename="images/cerc.png") }}"
    </div>
</div>
<div class="container first-container">
    <h3 class="section_header">Governemt</h3>
    <div id="enrollment" class="vis_container left">
        <p>Government Form: {{ info["government_form"] }}</p>
    </div>
    <div id="revenue" class="vis_container left quarter">
        {% if objects["revenue"] -%}
        {{ objects["revenue"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="expenditures" class="vis_container right quarter">
        {% if objects["expenditures"] -%}
        {{ objects["expenditures"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="tax" class="vis_container left quarter">
        {% if objects["tax"] -%}
        {{ objects["tax"]["output"] | safe }}
        {% endif -%}
    </div>
    <div id="indebtedness" class="vis_container right quarter">
        {% if objects["indebtedness"] -%}
        {{ objects["indebtedness"]["output"] | safe }}
        {% endif -%}
    </div>
    <div class="anchor"></div>
</div>
<a href="/town_profile?print=1" target="_blank" class="noprint">Print View</a>
{% endblock body %}
 
