div.header img {
        width: 97% !important;
        padding:1%;
    }
    div.header h1 {
        font-weight: 300;
        /*border: 1px solid green;*/
        line-height: 50pt;
        font-size: 34pt;
        margin:0 auto;
        display: inline;
    }
div.row > div > img,
div.row > div > table,
div.row > div > ul,
div.row > div > div,
div.row > div > div > table{
    width: 100%;
    /*border: 1px solid red;*/
}

.row div[class^="col-"] {
    padding-left: 0!important;
    padding-right: 0!important;
}

ul.float_list {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
ul.float_list li {
    display: inline-block;
    width: 48%;
}

ul.float_list.town_list {
    height: 116px;
}
ul.float_list.town_list li {
    width: 19%;
}

div.table_container {
    display: block;
}

table {
    position: relative;
}
table, thead, tbody, tr, th, td {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #979797;
}

tr > td:first-child {
  font-weight: bold;
}

p.table_title {
    color: #4a4a4a;
    display: block;
    font-size: 8pt;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

p.table_source {
    font-size: 7pt;
    color: #C0C0C0;
    font-style: italic;
    position: relative;
    bottom: 7pt;
    float: right;
}

p.section_title {
    font-size: 18pt;
    margin: 0;
}

p.region_title {
    /*border: 1px solid blue;*/
    float: left;
    font-size: 20pt;
    font-weight: bold;
    margin: 0 25%;
    position: absolute;
    width: 50%;
}


/* Print-specific rules */
@media print {
    @page {
        font-family: "RobotoCondensed" !important;
        size: 8.5in 11in;
        margin:0.15in 0.20in 0.5in;

        @bottom-right {
            font-family: "RobotoCondensed";
            color: #4A4A4A;
            font-size: 12pt;
            text-align:right;
            vertical-align: top;
            content: "Created by the Connecticut Data Collaborative | connect.ctdata.org";
        }
    }
    body {
        color: #4A4A4A;
        font-family: "RobotoCondensed" !important;
        font-size:8pt;
        margin:0!important;

        height: 750pt;
        display: block;
    }
    hr.footer_marker {
        position: fixed;
        margin: 0;
        border:1pt solid #979797;
        width:99.5%;
        left: 0;
        bottom: 10px;
    }
    div.header {
        position: fixed;
        height: 50pt;
        width: 99.5%;
        display: block;
        clear: both;

        border-bottom: 1px solid #979797;
    }
    div.content {
        position:relative;
        top: 60pt;
    }
    div.section,
    div.row {
        page-break-inside: avoid;
    }
    .noprint {
        display: none;
    }
}

@media screen {
    body {
        height:800px;
    }
}
