body {
    height: 600px;
}

div.row > div > img,
div.row > div > table,
div.row > div > div {
    width: 100%;
    /*border: 1px solid black;*/
}

/* Print-specific rules */
@media print {
    @page {
        size: 11in 8.5in;
        margin:0.25in;
    }
    body {
        font-size:8.5pt;
        margin:0!important;
        font-family: "LiberationSerif";
    }
    .noprint {
        display: none;
    }
}

@media screen {
    body {
        height:800px;
    }
}
