body {
    /*border:1px solid black;*/
}
div {
    box-sizing: border-box;
}
div#grand_list {
    min-height: 60pt;
}
div#commuters table td {
    padding:0 5% 0 1%;
}
div#commuters table td:nth-child(even){
    width: 20%!important;
}
div#commuters table td:nth-child(odd){
    width: 30%!important;
    text-align: left;
}

div#city_distance table tr {
    line-height: 12pt!important;
}

div.container#education {
    min-height: 110pt;
}

h3 {
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid black;
    display: inline-block;
    font-style: italic;
    left: 0;
    margin: 0 !important;
    padding: 1px 40px;
    position: absolute;
    top: -10pt;
}

h1 {
    font-size: 26pt;
    margin: 0;
}

h2 {
    font-weight: normal;
    font-size:14pt;
    margin: 0 !important;
}
div.title_header {
    margin-bottom: 14pt;
    position: relative;
}

div.title_header h2 > span.attribution {
    font-size: 9pt;
    font-style: italic;
    padding-left: 6pt;
}

div.container:not(.first-container) {
    border-top: medium none;
}
div.container {
    border: 3px double black;
    position: relative;
    page-break-inside: avoid;
    padding:6pt 5pt 12pt;
}
div#small_map img {
    height: 100pt;
    width: auto;
}

div#small_map p {
    bottom: 10pt;
    font-size: 6pt;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 50pt;
}
div#small_map {
    position: absolute;
    right: 0pt;
    top: 0;
}
div.title_header ul.town_address.header_list li:first-child {
    font-weight: bold;
}
div.title_header ul.header_list:first-of-type {
    padding: 0;
}
ul.header_list {
    white-space: nowrap;
    display: inline-block;
    font-size: 8pt;
    list-style: outside none none;
    margin: 0;
}

div.anchor {
    clear: both;
}
div.vis_container.left.quarter,
div.vis_container.right.quarter {
    margin: 1%;
    width: 23%!important;
}
div.vis_container.left,
div.vis_container.right {
    width: 48%;
}
div.vis_container.left {
    float: left;
}

div.vis_container.right {
    float: right;
}

div.vis_container.span {
    clear: both;
}

div.vis_container.pad-bottom {
    padding-bottom: 2rem;
}

div.vis_container {
    margin: 1pt;

}
div.vis_container > * {
    max-width: 100%;
    padding:0.5pt 5pt 0;
    width: 100%;
    margin-bottom: 0;
    margin-top:1pt;
}
div.vis_container > p {
    width: 95%
}
div.vis_container table thead tr th {
    font-style: italic;
    line-height: 1.1em;
}
div.vis_container table thead tr th,
div.vis_container table tbody tr td {
    padding:0.5pt 0;
}
div.vis_container table thead tr th[colspan]:not(:first-child) {
    text-align: center;
}
div.vis_container table tbody tr td[colspan] {
    padding-right: 3%;
}
/*div.vis_container table thead tr th[colspan="1"] {
    text-align: right;
}*/
div.vis_container table {
    width: 100%;
}
div.vis_container table td:not(:first-child),
div.vis_container table th:not(:first-child) {
    max-width: 40pt;
}
div.vis_container table thead tr th:first-child,
div.vis_container table tbody tr td:first-child {
    text-align: left;
}
div.vis_container table thead tr th:not(:first-child),
div.vis_container table tbody tr td:not(:first-child) {
    text-align:right;
}
table {
    border-collapse: collapse;
    line-height: 10pt;
}
#business table {
    line-height: 14pt!important;
}
#enrollment {
    min-height: 60pt;
}
div.vis_container > img {
    display: block;
    margin: auto;
    max-height: 175pt;
    width: auto;
}

ul.float_list {
    list-style: outside none none;
    margin: 0;
}
ul.float_list li {
    display: inline-block;
    width: 48%;
}
ul > h4 {
    top:0!important;
}
h4 {
    width: inherit;
    background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
    box-sizing: border-box;
    display: inline-block;
    font-style: italic;
    margin: 0 !important;
    padding: 1pt 5pt;
    position: relative;
    top: 3pt;
    font-weight: normal;
    padding-left:0!important;
    padding-right:0!important;
}
div#logo {
    display: inline-block;
    height: 25pt;
}
div#logo > img {
    height: 70pt;
    position: absolute;
    right: 0;
    top: -10pt;
}
ul.indent_list {
    list-style: none;
}
ul.indent_list li {
    width: 95%;
    padding:0 10pt;
}
.vis_container.thirds {
    clear: right;
    float: left;
    width: 32% !important;
}

div#age td:nth-child(2n+1):not(:first-child) {
    text-align: center;
}
div#age td:not(:first-child) {
    width: 6.5%;
}

@media screen {
    body {
        margin: 2% 10%;
        max-width: 80%;
        min-width: 800px;
    }
}
/* Print-specific rules */
@media print {
    @page {
        size: 8.5in 11in;
        margin:0.2in 0.4in .6in;
        @bottom-left {
            font-size: 7pt;
            width:35%;
            text-align:left;
            vertical-align: top;
        }
        @bottom-center {
            font-size: 9pt;
            font-weight: bold;
            font-style: italic;
            width:30%;
            text-align: center;
            vertical-align: top;
            content: "profiles.ctdata.org";
        }
        @bottom-right {
            font-size: 7pt;
            font-style: italic;
            width:35%;
            text-align:right;
            vertical-align: top;
            content: "No representation or warranties, expressed or implied, are given regarding the accuracy of this information.";
        }
    }
    body {
        font-size:8.5pt;
        margin:0!important;
        font-family: "LiberationSerif";
    }
    h3 {
        top:-0.15in;
        left:0.2in;
    }
    .noprint {
        display: none;
    }
}
